.vs/TollEnnobler/v15/.suo
bin/Debug/*
obj/*
packages/*
*.suo
Runner/bin/*
Runner/obj/*
/.vs/TollEnnobler/v15/sqlite3/storage.ide
/bin/*
/*.nupkg
/.idea/*
/.vs/*
/EnnoblerTest/bin/*
/EnnoblerTest/obj/*
/Tests/*/bin/*
/Tests/*/obj/*
/Tests/.vs/*
/TollEnnobler.sln.DotSettings.user
/EnnoblerRunner/obj/*
/EnnoblerRunner/bin/*
/Ennobler/bin/*
/Ennobler/obj/*
